<div class='container mt-5'>
    <h4>Listado de Clientes</h4>

    <form action="">
        <div class="form-group mb-3">
            <input class="form-control" type="text" placeholder="Busque un cliente">
        </div>
    </form>    

    <div class="row">
        <div class="col-sm-3" *ngFor="let cliente of clientes">        
            <div class="card">
                <img class="card-img-top imgCliente" [src]="cliente.imgUrl" alt="imagen cliente">
                <div class="card-body">
                    <p class="text-center"><small>{{cliente.id}}</small></p>
                    <h5 class="card-title text-center">{{cliente.nombre}} {{cliente.apellido}}</h5>                    
                    <div class="d-flex justify-content-around">
                        <a [routerLink]="['/agregar-cliente/', cliente.id]" class="btn btn-primary">Editar</a>
                        <a href="#" class="btn btn-danger">Desactivar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>